# This is example for task configuration. The file is flat bash script with vars assigments
start='sleep infinity'
stop='kill `cat '$pid_file'`'
user='root'
group='root'
timeout=10
memory=0
check='exit 0'
